table {
  border-collapse: collapse;
  width: 50%;
  td {
    border: 1px solid gray;
  }
  tr.odd {
      background-color:lightblue; 
  }
  tr.even {
      background-color: lightyellow;
  }

  tr.first{
      color: red;
  }
  tr.last {
      color:blue;
  }

  td.done {
      text-decoration:line-through
  }
}
