<form [formGroup]="regForm">
  <div fxLayout="row">
    <div>
      <label for="">Name</label>
      <input type="text" formControlName="name">
    </div>
    <div>
      <label for="">Email</label>
      <input type="text" formControlName="email">
    </div>
    <div>
      <label for="">Phone</label>
      <input type="text" formControlName="phone">
    </div>
    <div>
      <label for="">Gender</label>
      <select name="" id="" formControlName="gender">
        <option></option>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
    <div formGroupName="comm_address">
      <b>Communication Address</b>
      <div>
        <label for="">Line 1</label>
        <input type="text" formControlName="line1">
      </div>
      <div>
        <label for="">Line 2</label>
        <input type="text" formControlName="line2">
      </div>
      <div>
        <label for="">City</label>
        <input type="text" formControlName="city">
      </div>
      <div>
        <label for="">State</label>
        <input type="text" formControlName="state">
      </div>
      <div>
        <label for="">Pincode</label>
        <input type="text" formControlName="pin">
        <span *ngIf="regForm.get('comm_address').get('pin')?.errors?.pincode">Invalid Pincode</span>
      </div>
    </div>

    <div formGroupName="permanent_address">
      <b>Permanent Address</b>
      <div>
        <label for="">Line1</label>
        <input type="text" formControlName="line1">
      </div>
      <div>
        <label for="">Line2</label>
        <input type="text" formControlName="line2">
      </div>
      <div>
        <label for="">City</label>
        <input type="text" formControlName="city">
      </div>
      <div>
        <label for="">State</label>
        <input type="text" formControlName="state">
      </div>
      <div>
        <label for="">Pincode</label>
        <input type="text" formControlName="pin">
      </div>
    </div>
    <div>
      <button type="submit">Save</button>
      <button (click)="regForm.disable()">Disable</button>
      <button (click)="regForm.enable()">Enable</button>
    </div>

  </div>

</form>
Valid: {{regForm.valid}}

<pre>
  {{regForm.value|json}}


  Error
  {{regForm.get('comm_address').get("pin").errors|json}}

</pre>
