<!-- Adding custom create header component -->
<app-header highlight></app-header>
<h2 #h2ref>Examples</h2>
{{h2ref}}
<span #spanref>this is span</span>
{{spanref}}

<input type="text" value="this is value" #myinput>
{{myinput}}

<div highlight="yellow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem earum eligendi unde voluptatibus aliquam, eos reiciendis nam ut. Quasi, iusto aperiam incidunt distinctio nisi minima nesciunt quam. Corrupti, aperiam nemo.</div>

<div highlight="cyan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto incidunt error minima velit labore odit, quis doloremque beatae, eaque nesciunt eius quo itaque et saepe maxime commodi blanditiis tempore nihil.</div>
<button highlight  class="btn" (click)="processInputData(myinput)">Process input</button>
<button  class="btn" (click)="testInputViewChild()">Test @ViewChild input</button>
<!-- <app-property-binding></app-property-binding> -->

<!-- <app-event-binding></app-event-binding>    -->

<!-- <app-looping></app-looping> -->
<!-- <app-if-switch></app-if-switch> -->

<!-- <app-notes></app-notes> -->