<h3>My notes</h3>
<div class="container">
  <div class="columns">
    <div class="column col-6">
      <h4>Pending Notes</h4>
      <input [(ngModel)]="detailsInput">
      Printing at root level    {{singlenote.title}}
<button (click)="changeFirstNoteDataOnly()">Change first note data only</button>
<button (click)="changeFirstNoteObject()">Change first note object</button>
      <app-note-details
      [indx]="0"
      [details]="detailsInput"
      [note]="singlenote"
      >
    <div> Hi There this is passed html</div>
    <div> Hi There this is passed html</div>
    <div> Hi There this is passed html</div>
    <div> Hi There this is passed html</div>
    <div> Hi There this is passed html</div>
    </app-note-details>
 
    <hr>
    <hr>
    <hr>
      <div *ngFor="let mn of mynotes;let i=index">
        <!-- <app-note-details [details]="mn.title"></app-note-details> -->
        <app-note-details
         (onDelete)="deleteFromPending($event)"
         (onMark)="markDone($event)"
         [indx]="i"
         details="Pending notes"
         [note]="mn"
         ></app-note-details>
         <!-- [markDoneTimeout]="(i+1)*5000" -->
         <hr>
      </div>

    </div>
    <div class="column col-6">
      <h4>Completed Notes</h4>
      <div *ngFor="let cn of completedNotes;let i=index">
        <!-- <app-note-details [details]="cn.description"></app-note-details> -->
        <app-note-details
        (onDelete)="deleteFromComplete($event)"
        hideMark="true"
        details="Completed notes" [note]="cn"></app-note-details>
        <hr>
      </div>

    </div>
  </div>
</div>
